<div id="main_show" class="section">

  <h3>O seu local</h3>

  <div class="form-group col-xs-12 col-sm-6 col-md-3 ">
    <label for="locality">Concelho ou Localidade</label>
    <p>Caso introduza manualmente, coloque sempre o Concelho</p>
    <input size="35" class="form-control input-lg mandatory"
           id="locality" name="Localidade da ocorrência" placeholder="Oeiras" type="text" required readonly>
  </div>

  <div class="form-group col-xs-12 col-sm-6 col-md-3 ">
    <label for="street">Local</label>
    <input size="35" class="form-control input-lg mandatory"
           id="street" name="Local da ocorrência" placeholder="Rua do Ouro" type="text" required readonly>
  </div>

  <div class="form-group col-xs-12 col-sm-6 col-md-3 ">
    <label for="street_number">Junto ao Número</label>
    <input size="4" class="form-control input-lg"
           id="street_number" name="Número postal do Local da Ocorrência" type="text" readonly>
  </div>

  <hr>

  <div class="d-flex justify-content-between">
    <h3>Autoridades próximas</h3>
    <button type="button" class="mb-3 mr-4 btn btn-primary ml-2" id="refresh-authorities"><i class="fa fa-refresh"></i></button>
  </div>

  <div class="form-group col-xs-12 col-sm-6 col-md-3">
    <div class="" id="authorities_list" name="Autoridade"></div>
  </div>

</div>
