<div id="privacy_policy" class="section">
  <h4>Quem está a fazer o pedido de dados?</h4>
  <p class="lead">
    A APP "Police Finder" foi desenvolvida por João Pimentel Ferreira.
  </p>
  <h4>Que dados estão a ser requeridos?</h4>
  <p class="lead">
    Os dados que a APP pede fazendo uso do Google API, são unicamente dados referentes à sua localização (latitude e longitude),
    para assim podermos calcular com precisão o seu endereço.
  </p>
  <h4>Porque motivo fazemos esta recolha de dados?</h4>
  <p class="lead">
    Os dados geográficos referentes ao Google API são usados para calcular com precisão o seu endereço postal,
    para assim o utilizador poder obter a informação sobre qual a autoridade policial mais próxima.
  </p>
</div>
